.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
}

.container p{
  border:1px solid black;
  display:flex;
  flex-direction:column;
  padding:5px;
  background:white;
  border-radius:10%;
}

.container p::before{
  display:block;
  background:red;
  content:'Before B';
  width:50%;
}

.container p::after{
  display:block;
  background:red;
  content:'Before B';
  width:50%;
  align-self:end;
}
