.parent{
  background:blueviolet;
  padding:10px;
  height:200vh;
  
  position:relative;
}

.parent > *{
  border:2px solid black;
}

.child-1{
  background:green;
}

.child-2{
  background:orange;
  position:absolute;
  top:0px;
}

.child-3{
  background:pink;
  position:fixed;
  right:50%;
}
